{% extends 'base.html' %}

{% block content %}
<style>
body {
    background-color: rgb(233, 231, 231);
}
.mainbox {
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    border-width: 2px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    display: inline-block;
  }

</style>

    <div class="mainbox">
    <h3>수정하기</h3>
    <hr>
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{ edit_post.as_p }}
        <button type="submit">submit</button>
    </form>
    </div>
{% endblock %}
