{% extends 'base.html' %}

{% block content %}

<style>
    body {
        text-align: center;
        background-color: rgb(233, 231, 231);
    }

    .container2 {
      text-align: left;
      margin: 10px auto;
      padding: 40px;
      border-style: none;
      border-radius: 25px;
      border-width: 2px;
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
      width: 50%;
      display: inline-block;
    }

    #thumbnail {
        width: 100px;
        height: 150px;
        float: left;
        margin-right: 5%;
    }

    button a {
        text-decoration: none;
        color: black;
    }

    #delete {
        float: right;
    }

    .description {
        text-align: left;
    }

    a {
        text-decoration: none;
        color: rgb(90, 180, 90);
    }
</style>

{% for item in cart %}
<div class="container2">
{% with product=item.product %}

{% if product.image %}
    <img id="thumbnail" src="{{product.image.url}}" alt=""><br>
{% endif %}
<div class="description">
책명 : {{ product.name }}
<form action="{% url 'cart:product_add' product.id %}" method="post">
    {% csrf_token %}
    권수 : {{ item.quantity_form.quantity }}
    {{ item.quantity_form.is_update }}
    <input type="submit" value="수량 변경">
</form>
<br>
<p>가격 : {{ item.price|floatformat }}원</p>
<p>소계 : {{ item.total_price|floatformat }}원</p>
<a id="delete" href="{% url 'cart:product_remove' product.id %}">장바구니에서 삭제</a>
<br>
</div>

</div>
{% endwith %}
{% endfor %}

<p><b>총 금액 : {{ cart.get_product_total|floatformat }}원</b></p>

<button type="button" class="btn btn-outline-dark">
    <a href='{% url "shop:list" %}'>쇼핑 계속하기</a> 
</button>

{% endblock %}