{% extends 'base.html' %}

{% block content %}

<style>
    body {
        text-align: center;
    }

    #thumbnail {
        width: 100px;
        height: 150px;
        float: left;
        margin-right: 5%;
    }

    button a {
        text-decoration: none;
        color: black;
    }

    #delete {
        float: right;
    }

    .description {
        text-align: left;
    }
</style>

{% for item in cart %}
{% with product=item.product %}

{% if product.image %}
    <img id="thumbnail" src="{{product.image.url}}" alt=""><br>
{% endif %}
<div class="description">
책명 : {{ product.name }}
<form action="{% url 'cart:product_add' product.id %}" method="post">
    {% csrf_token %}
    권수 : {{ item.quantity_form.quantity }}
    {{ item.quantity_form.is_update }}
    <input type="submit" value="수량 변경">
</form>
<br>
<p>가격 : {{ item.price|floatformat }}원</p>
<p>소계 : {{ item.total_price|floatformat }}원</p>
<a id="delete" href="{% url 'cart:product_remove' product.id %}">장바구니에서 삭제</a>
<br>
<hr>
</div>
{% endwith %}
{% endfor %}

<p>총 금액</p>
<p>{{ cart.get_product_total|floatformat }}원</p>

<button type="button" class="btn btn-outline-dark">
    <a href='{% url "shop:list" %}'>쇼핑 계속하기</a> 
</button>

{% endblock %}